article {
    margin-bottom: 50px;

    .featured-image {
        img {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            width: 100%;
        }
    }

    .intro-desc {
        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        @media (max-width: 1400px) {
            p {
                font-size: 1rem;
            }
        }
    }
}
