$gray-v1: #F6F6F6;
$gray-v2: #929292;
$gray-v3: #707070;
$light-gray: #F1F1F1;
$black: #242424;
$link-color: #267FE5;
$link-hover-color: #3077BC;
$btn-border:#3077BC;
$bluev1: #3077BC;
$bluev2: #267FE5;
$bluev3: #1E71D1;
$bluev4: #2480E3;
$bluev5: #1C7FDD;
$white: #fff;
$orange: #FF821C;

